.container {
  margin: 3rem auto;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.mainCard {
  position: relative;
  cursor: pointer;
}


.drawerBtn {
  display: flex;
  position: absolute;
  top: 0;
  right: -20%;
  z-index: 999;
  height: 97.5%;
  width: 20%;
  background-color: var(--ifm-navbar-background-color);
  opacity: .7;
  flex-direction: column;
  justify-content: center;

  /* transition: all 0.5s ease-in-out; */

}

.drawerBtn::after {
  content: '';

}

.char {
  display: inline-block;
  border-right: 5px solid var(--ifm-color-primary);
}