@font-face {
  font-family: feizhai;
  src: url('/static/fonts/feizhai.ttf') format('truetype');
}

@font-face {
  font-family: dinasaur;
  src: url('/static/fonts/dinasaur.ttf') format('truetype');
}

@font-face {
  font-family: loong;
  src: url('/static/fonts/loong.ttf') format('truetype');
}

//声明一个字体数组
$font-families: ('feizhai', 'dinasaur', 'loong');

//利用循环给变量赋值
@for $i from 1 through length($font-families) {
  $fontName: nth(
    $list: $font-families,
    $n: $i
  );
  .font-#{$fontName} {
    font-family: nth($font-families, $i);
  }
}

.font-feizhai {
  font-family: feizhai;
}

.footer__link-item,
.navbar__link,
.dropdown__link {
  font-family: loong;
  font-size: var(--font-size-h4);
}

.navbar__title {
  font-family: loong;
  font-size: var(--font-size-h2);
}

:root {
  --font-size-base: 16px;
  --font-size-h1: 32px;
  --font-size-h2: 24px;
  --font-size-h3: 20px;
  --font-size-h4: 18px;
}

// 利用scss的循环，根据类名来给变量赋值
@for $i from 1 through 6 {
  .font-size-h#{$i} {
    font-size: var(--font-size-h#{$i});
  }
}
